body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.responsive-video{
    width: 100%;
}
.imagenes{
    margin-top: 2%;
}

.titulo{
    text-align: center;
}
.texto{
    text-align: justify;
}
